body {
  background: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(69, 90, 100, 1)
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 144, 156, 1);
  border-radius: 8px
}

div {
  min-height: 10px !important;
}

.config-ul > li {
  padding: 0 10px;
  color: #fff;
  position: relative;
  line-height: 35px;
  height: 35px;
}

.config-ul > li.active {
  color: #2aa5ff;
}

.config-ul > li > .handler, .config-ul > li > button {
  position: absolute;
  right: 0;
}

.el-panel-title {
  color: #5e5e5e;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 1.1538rem;
  padding: 0 10px;
  border-bottom: 1px dotted #ddd;
}

.el-panel-title:after {
  top: 1rem;
  content: "\F107";
  right: 1.5384rem;
  position: absolute;
  text-rendering: auto;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal normal normal 14px/1 FontAwesome;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.3s ease-in;
}

.el-panel-title.el-panel-open:after {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.el-panel-body {
  background: rgba(84, 110, 122, 1);
  border-bottom: 1px dotted #ddd;
}

.el-panel-body .el-panel-title {
  height: 35px;
  font-size: 14px;
  line-height: 35px;
}

.el-panel-body .el-panel:last-child .el-panel-body {
  border-bottom: none;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  color: #fff;
  flex: 0 0 60px;
  font-size: 30px;
  line-height: 60px;
  background: #3ca4f7;
  padding: 0 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.header .title {
  line-height: 60px;
  font-size: 24px;
  margin: 0;
}

.header .title a {
  display: inline-block;
  color: #fff;
}

.body {
  flex: 1;
  display: flex;
}

.body .el-panel-title {
  color: #fff;
}

.body .content {
  flex: 1;
}

.body .tool-bar {
  background: rgba(69, 90, 100, 1);
  flex-direction: column;
  flex: 0 0 200px;
  display: flex;
  order: -1;
}

.body .config-bar {
  background: rgba(69, 90, 100, 1);
  flex-direction: column;
  flex: 0 0 250px;
}

.body .config-bar > section {
}

.config-bar .config-bar-config {
  padding: 0 8px;
  color: #fff;
}

.config-bar .el-form .el-form-item {
  padding: 3px 0;
}

.config-bar .el-form .el-form-item .el-form-label {
  min-height: 25px;
  line-height: 25px;
  font-size: 1rem;
}

.config-bar .el-input > input, .el-input > textarea {
  min-height: 20px;
  line-height: 1;
}

.config-bar .el-input-wrapper.el-number-input .el-input-append .el-number-input-handler {
  min-height: 17px;
}

.config-bar .el-input .el-input-icon {
  line-height: 1.2;
}

.body .tool-bar > section.tool-component {
  flex: 1;
  overflow: auto;
}

.body .config-bar > section.config-action-panel {
  max-height: 150px;
}

.body .config-bar > section.config-action-panel .el-panel-body {
  overflow: auto;
  height: 110px;
}

.body .config-bar > section.config-props-panel {
  max-height: 250px;
}

.body .config-bar > section.config-props-panel .el-panel-body {
  overflow: auto;
  height: 210px;
}

.component {
  cursor: pointer !important;
}

.component > * {
  cursor: pointer !important;
}

.component.component-focus {
  position: relative;
  box-shadow: 0 0 5px #2aa5ff;
}

.component.component-focus:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  z-index: -1;
  background: #ecf7ff;
}

.component.component-active {
  box-shadow: 0 0 8px #ffc822;
}

.component-name {
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: -21px;
  left: -1px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 0 5px;
  border-radius: 2px;
  z-index: 888;
  font-size: 13px;
}

.config-preview {
  padding-left: 8px;
  overflow: auto;
}

.config-bar .config-bar-current {
  font-size: 16px;
  margin: 0 15px;
  font-weight: 800;
  text-decoration: underline;
}

.el-tree-select-leaf {
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  line-height: 30px;
  position: relative;
  text-transform: lowercase;
  border-bottom: 1px dotted #ddd;
}

.el-tree-select-leaf:last-child {
  border-bottom: none;
}

.el-tree-select-leaf-active {
  color: #3ca4f7;
}

.el-tree-select-leaf-focus {
  background: #ecf7ff;
  color: #3ca4f7;
}

.el-tree-select-handler {
  top: 0;
  right: 10px;
  height: 30px;
  position: absolute;
}

.el-tree-select-handler > i {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  margin-right: 2px;
}

.el-btn.el-disabled.el-small.el-text {
  color: #BDBDBD;
  background: transparent;
}

.config-live-preview > div:first-child {
  box-shadow: 0 0 5px #ddd;
}

.el-removable-title {
  position: relative;
  font-size: 14px;
}

.el-removable-title .fa-close {
  position: absolute;
  right: 0;
}

.el-small-form.el-form .el-form-item {
  line-height: 30px;
  padding: 0;
}

.el-small-form.el-form .el-form-item .el-form-label {
  font-size: 1rem;
}

.el-modal-wrapper .el-modal .el-modal-content {
  width: 750px;
}

.config-live-preview {
  margin-top: 10px;
}
